.list-group-item{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    color: #22599d;
}
.table-thead{
    color: #f2f2f3;
    background-color: #22599d;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #22599d;
    border-color: #22599d;
}
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}
.btn-primary {
    color: #fff;
    background-color: #22599d;
    border-color: #22599d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #308cca;
    border-color: #308cca;
}

button .btn-primary{
    color: #fff;
    background-color: #22599d;
    border-color: #22599d;
}

.container-nav{
    margin-top: 13px;
}

footer{
    background-color:#f9c008!important;
} 
.navbar-light .navbar-nav .nav-link{
    color: #ffc107!important;
}

.nav-link:hover {
    color: #fff;
    background-color: #fff;
    border-color: #308cca;
}

.title{
    font-size: x-large;
    font-weight: bolder;
}
a { color: #0000FF; }

body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

.container-search{
    margin-top: 32px!important;
}